#second-bar
    #second-bar-left-side
        if session && (session.role === "admin" || session.role === "manager")
            .second-bar-item.right-border
                a(href="/#{lang}/selection")
                        #selection-link.second-bar-text #{__("selectionPhase")}

        if session
            #scoring-tab.second-bar-item.right-border
                #cota-badge 2
                a(href="/#{lang}/cota/#{session.orgaid}")
                    #scoring-link.second-bar-text #{__("scoringPhase")}
    #second-bar-right-side
        if session && (session.role === "admin" || session.role === "manager")
            .second-bar-item.left-border
                a(href="/#{lang}/stats")
                    #stats-link.second-bar-text #{__("stats")}